<li>
  <div class="bbsBox" 						onclick="comme_call(112985)" style="cursor: pointer;">
    <a><img onerror="this.src='/assets/bar/noface.jpg'" src="/assets/1844910_1.jpeg" class="icon80"></a>
    <p class="bbsDetail" >お年玉プレゼント(結果発表)<img class=bbsImglnk  src="/assets/bg/icon_detail_contribution.png" alt="トピックの詳細はコチラ"></p>
  </div>
  <div class="bbsClearfix">
    <div class="bbsDashed3"></div>
    <div class="bbsInfoBar bbsInfoBarR">【情報】ばに・コ・</div>
    <div class="bbsInfoBar bbsInfoBarL">2020/01/01 閲覧数80</div>
  </div>
</li>