<div class="vsc-initialized">
  <section>
  	<p class="alignC"><img src="/assets/bar/bar_interact.png" width="100%" alt="情報交換BBS"></p>
  </section>
  
  <section id="content_area">
  	<div id="content_main_area" class="in_box_sizing" style="z-index:2;">
      <div id="content_main_area_in">
        <div class="category_area">
  			  <form action="" method="POST">
  			    <input type=hidden name=topic_id value=113019>
  			    <input type=hidden name=page_type value=>
            <input type=hidden name=page value=3>
            <input type=hidden name=page_cate value=0>
			      <table width="100%" border="0" cellpadding="0" cellspacing="0" summary="">
			      	<tr>
			      		<td class="td_txt_explanation" style="width:60%">
			      			削除する投稿トピックにチェックを入れてください。<br>※削除を行った項目は復旧させることはできませんのであらかじめご了承ください。
			      		</td>
			      		<td class="btn_submit_area" align="right">
			      	  	<input type="button" value="戻る" class="btn_delete in_box_sizing" style="width:95%;" onclick="document.form_touko.submit();return false;">
			      	  </td>				
                <td class="btn_submit_area" align="right">
			      		  <input type="submit" name="ibbs_contribution_comment_input" value="削除を確認する" class="btn_submit in_box_sizing" style="width:95%">
			      	  </td>
			      	</tr>
			      	<!-- コメント数が最大に達した時に下記エラー分を表示させてください。
			      	<tr>
			      		<td colspan="3" class="txt_error">コメント数が最大数となり、コメントがこれ以上行えません。新しくトピックを作成する必要があります。</td>
              </tr>
              -->
            </table>
			    </form>
        </div><!-- category_area -->

    <div class="category_area" style="position:relative;">
      <form action="" method="">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" summary="">
          <tr>
            <td class="td_category"><img src="/assets/category/category_contribution_list.png" alt="投稿入力フォーム"></td>
            <td style="cursor: pointer;" class="td_txt_explanation" onclick="document.form_pr.look_pid.value=1642643;document.form_pr.submit();return false;">
	  		    <span class="txt_contribution_title">削除するトピックを選択してください。</span>
	  	      </td>
          </tr>
        </table>
        <table class="contribution_list_table" width="100%" border="0" cellpadding="0" cellspacing="0" summary="">
          <tr>
            <td class="contribution_title_first">トピック名</td>
            <td class="contribution_date_first">日付</td>
            <td class="contribution_delete_first">削除選択</td>
          </tr>
          <tr>
            <td class="txt_comment_name" align="left"><a href="">投稿テスト</a></td>
            <td class="txt_comment_date">2020/02/05</td>
            <td class="contribution_delete"><input type="checkbox">削除する</td>
          </tr>
        </table>
      </form>
    </div>

    

      </div>
    </div>
  </section>