$('#enquete_topic').html(`<td class="td_category" style="padding-top:5px;"><img src="/assets/category/category_vote.png" alt="投票結果"></td>
												  	<td class="td_txt_explanation" valign="top" style="padding-top:5px;">
												  		<hr>
												  		<table width="100%" border="0" cellpadding="0" cellspacing="0" summary="">
												  			<%@enquete.each do |enquete|%>
												  				<tr>
												  					<td width=30%><%=enquete.content%></td>
																		<td><%=enquete.votes.length%>票
																			<% if @user_vote.present? && @user_vote.enquete_id == enquete.id%>
																				<span style="font-size:16px;font-weight:bold;">（この回答に投票しました）</span>
																			<%end%>
																		</td>
												  				</tr>
												  			<%end%>
												  		</table>
												  	</td>
                          `);

$('#total_vote').html(`<%=@total_vote.length%>`)