$('#enquete_topic').html(`<td class="td_category" style="padding-top:5px;"><img src="/assets/category/category_vote.png" alt="投票結果"></td>
												  	<td class="td_txt_explanation" valign="top" style="padding-top:5px;">
												  		<hr>
												  		<table width="100%" border="0" cellpadding="0" cellspacing="0" summary="">
												  			<%@enquete.each do |enquete|%>
												  				<tr>
												  					<td width=50%><%=enquete.content%>(<%=enquete.votes.length%>)</td>
												  					<td width=50%><img src="../imgbar.php?per=48 "></td>
												  				</tr>
												  			<%end%>
												  		</table>
												  	</td>
                          `);

$('#total_vote').html(`<td></td><td><hr>総評価：<%=@total_vote.length%>　投稿評価：1</td>`)